<h2>Local Hideouts in {{state.name}}</h2>
{{#each locations as |location| }}
<div class="row mb-4 blogpost">
  <div class="col-md-5">
    <h2>
      <a href="/location/{{location.id}}">{{location.name}}</a>
    </h2>
  </div>

</div>
{{/each}}
